:root {
	--html-font-size: 10px;
	--html-font-size-mobile: 12px;
	--main-font-family: "Roboto", sans-serif;
	--main-font-size: 1.5rem;
	--main-font-color: #545454;
	--main-background-color: #f7f7f7;
	--container-width: 1200px;
	--header-color: #1c1c1c;
	--accent-color: #007bff;
	--secondary-color: #969696;
	--borders-color: #e4e4e4;
}
